.card {
    background: #3C5B6F;
    padding: 1.5rem;
    border-radius: var(--border-radius-1);
    transition: var(--transition);
}

.card:hover {
    opacity: 0.8;
    transform: translateY(-0.5rem);
} 


/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .card {
        padding: 1.2rem;
    }
}