@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* list-style: none; */
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-hue: 210;
    --black-lightness: 15%;
    --dark-lightness: 44%;
    --light-lightness: 94%;
    --white-lightness: 100%;
    --color-primary: hsl(var(--primary-hue), 53%, 58%);
    --color-white: hsl(0, 5%, var(--white-lightness));
    --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
    --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
    --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));

    /* GENERAL CONTAINER VARIABLES */
    --container-width-lg: 76%;
    --container-width-md: 90%;

    /* BORDER RADIUS VARIABLES */
    --border-radius-1: 1.2rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 0.5rem;

    /* GENERAL TRANSITION VARIABLE */
    --transition: all 500ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 0.9rem;
}



/* GENERAL CONTAINER CLASS */
.container {
    width: var(--container-width-lg);
    margin-inline: auto;
    max-width: 1920px;
}

/* GENERAL SECTION STYLES */

section {
    padding: 10rem 0;
    transition: var(--transition);
}

section > h2 {
    text-align: center;
}

section > p {
    text-align: center;
    margin: 0.5rem auto 2rem;
    width: 40%;
}


/* GENERAL SECTION STYLES */
a {
    /* color: var(--color-white); */
    transition: var(--transition);
}

/* GENERAL HEADING STYLES */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: var(--color-black);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.95rem;
}

h6 {
    font-size: 0.8rem;
}

/* GENERAL IMAGES STYLES */
img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* GENERAL BUTTON STYLES */
.btn {
    display: inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--color-light);
    color: var(--color-black);
    padding: 0.6rem 2.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    border-color: var(--color-light);
    transform: translateY(-0.5rem);
}

.btn.white {
    background: var(--color-white);
}

.btn.white:hover {
    background: transparent;
    border-color: var(--color-white);
}

.btn.primary {
    background:#2b547e;
    /* text color always white that's why i didn't use a variable color */
    color: white;
}

.btn.primary:hover {
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.btn.sm {
    padding: 0.5rem 1.2rem;
}




/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    body {
        font-size: 1rem;
    }
    
    .container {
        width: var(--container-width-md);
    }

    section {
        padding: 8rem 0;
    }

    section > p {
        width: 72%;
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 2rem;
    }
}





/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1rem;
    }

    .btn {
        padding: 0.6rem 1.5rem;
    }

    section > p {
        width: var(--container-width-md);
    }
}

@media screen and (max-width: 1024px) {
    #floating__nav {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 30;
        animation: animateFloatingNav 300ms ease forwards;
    }

    @keyframes animateFloatingNav {
        from {
            opacity: 0;
            bottom: -5rem;
        }
        to {
            opacity: 1;
            bottom: 3rem;
        }
    }
    

    .scrollspy {
        display: flex;
        gap: 1rem;
        background: rgba(0, 0, 0, 0.4);
        padding: 0.8rem 1.5rem;
        border-radius: 3rem;
        backdrop-filter: blur(20px);
    }

    #floating__nav li.active a {
        background: var(--color-primary);
    }
}

footer {
    padding-top: 4rem;
    box-shadow: 1.5rem 1rem 1.5rem pink;
    transition: var(--transition);
}

footer .nav__menu {
    justify-content: center;
}

footer .nav__menu a {
    color: black
}

.footer__socials {
    width: fit-content;
    display: flex;
    gap: 1.5rem;
    margin: 3rem auto 4rem;
}

.footer__socials a {
    background: var(--color-black);
    color: var(--color-white);
    padding: 0.6rem;
    border-radius: var(--border-radius-3);
}

.footer__socials a:hover {
    opacity: 0.7;
    transform: translateY(-0.5rem);
}

.footer__copyright {
    color: black;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1.5rem 0;
}



.service__subtitle li {
    list-style: square;
}

.service__details li {
    list-style: square;
}

.service__content li {
    list-style: square;
}
